@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --deep-gray: #111827;
  --gray: #4b5563;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .sidebar-icon {
    @apply relative mx-auto mb-5 mt-2 flex h-14 w-14
     cursor-pointer items-center justify-center rounded-3xl
      bg-gray-800 text-green-500 shadow-lg transition-all
       duration-200 ease-linear hover:h-16 hover:w-16 hover:rounded-xl hover:bg-green-600
        hover:text-white;
  }
  .sidebar-tooltip {
    @apply absolute left-14 m-2 w-auto min-w-max origin-left 
    scale-0 rounded-md bg-gray-900 p-2
    text-lg font-bold text-white shadow-md transition-all duration-100;
  }
}
